::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 1px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
html {
  scroll-behavior: smooth;
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background: #eeeeee;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.nav-bar {
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #ff7b00;
  padding: 18px 50px;
  opacity: 98%;
}
.logo img {
  width: 45px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 80px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
}
.menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center;
  transition: transform 0.30s ease-out;
}
.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: #1C1C1C;
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}


main {
  display: flex;
  flex-wrap: wrap; /* Umožní zalamování karet na menších obrazovkách */
  justify-content: center; /* Zarovná karty na střed */
  gap: 100px; /* Prostor mezi kartami */
  padding: 50px; /* Prostor kolem hlavního obsahu */
}

.card {
  background-color: #1C1C1C;
  border-radius: 10px;
  padding: 20px;
  margin: 0;  
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Přidání stínu pro lepší vzhled */
  transition: transform 0.3s ease; /* Animace při najetí myší */
}

a .card:hover {
  transform: scale(1.05); /* Zvýraznění při najetí myší */
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Karty budou zabírat celou šířku na menších obrazovkách */
  }
}
footer{
font-weight: 600;
font-size: 1.2rem;
}
footer a {
  font-weight: 600;
  color: white;
  margin-bottom: 1em;
}
footer a:hover {
  color: #e7e7e7;
}










/* From Uiverse.io by Pradeepsaranbishnoi */ 
.container2 {
  width: 150px;
  height: 10px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  margin: 0 auto;
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0;
}

.box {
  width: 9px;
  height: 100%;
  background: linear-gradient(to bottom, #2838c7 0%,#5979ef 17%,#869ef3 32%,#869ef3 45%,#5979ef 59%,#2838c7 100%);
  display: inline-block;
  margin-right: 2px;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}

.logo2 {
  width: 220px;
  margin: 50px auto;
  margin-top: 20px;
}

.logo2 p {
  margin: 0;
  padding: 0;
}

.top {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.top:after {
  content: "\00a9";
  font-size: 10px;
  position: relative;
  top: -5px;
  margin-left: 2px;
}

.mid {
  font-size: 46px;
  font-weight: 700;
  line-height: 36px;
}

.mid span {
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  color: #FF6821;
  margin-top: -8px;
}

.logo2 .bottom {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-left: 5px;
}

@keyframes loader {
  0% {
    transform: translate(-30px);
  }

  100% {
    transform: translate(150px);
  }
}

